/* adding tasks and categories */

.add-task-bar { /* puts form at bottom of page*/
  position: fixed;
  bottom: 60px;
  display:flex;

  width: 100%;

  form {

    width: 100%;

    /*remove default select styling */
    .add-task-bar-field, #select-category {
      -webkit-appearance: none;
      border: 2px solid #aed2dd;
      background: #e6f7fb;
      color: $dark-teal;
      border-radius: 15px;
      font-size: 14pt;
      padding: 11px 14px 11px 14px;
      font-family: $font-stack;
      &[type="text"]{
        background: #f6fdff;
      }
      &:focus {
        outline: none;
      }
    }

    .add-task-bar-field {
      width: 50%;
      font-size: 14pt;
      border-radius: 10px;
      margin-right: 10px;
    }
  }
}



